body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
h2 {
  border-bottom: 1px solid rgb(236, 172, 53);
}
nav.container {
  top: 20px;
  background-color: black;
}
a.navbar-brand {
  background-color: rgb(236, 172, 53);
  color: white;
}
.date {
  font-size: 12px;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  background-color: rgb(236, 172, 53);
}
button.search {
  color: #fff;
  border-color: rgb(236, 172, 53);
}
.btn-outline-success:hover {
  color: #fff;
  background-color: rgb(236, 172, 53);
  border-color: rgb(236, 172, 53);
}

/* main content start here */
main {
  margin-top: 5%;
}

/* trending article here */
div.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 6px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.column {
  text-align: center;
}

.grid-column-1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}
a.read-article {
  background-color: black;
  color: #fff;
  border-color: rgb(236, 172, 53);
}

a.read-article:hover {
  background-color: rgb(236, 172, 53);
  color: #fff;
  border-color: rgb(236, 172, 53);
}

.card-title {
  color: rgb(236, 172, 53);
}

.card-title:hover {
  color: rgb(236, 172, 53);
}

.card-text:hover {
  color: rgb(236, 172, 53);
}

.grid-column-1 {
  width: 100%;
}

/* latest news here */
.latest-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

h6.tag {
  color: plum;
}

a.page-link {
  color: rgb(236, 172, 53);
}
/* footer start here */
.footer-line {
  border-bottom: 1px solid rgb(236, 172, 53);
}
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
